<h4>Merchant Dashboards</h4>
<% @merchants.each do |merchant| %>
  <%= link_to "#{merchant.name}", merchant_dashboard_index_path(merchant), style: 'pull-right' %>
<% end %>


<h4>Admin Dashboard</h4>
<%= link_to "Admin Dashboard", admin_dashboard_index_path, style: 'pull-right' %>
